<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.WebRequest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Test.WebRequest.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>https://mscrm-sync-preprod.mtt.ru/GMCS.MTT.XRM.Application.Web/Router/Route/GetPersonalAccountBalance/</value>
            </setting>
            <setting name="Params" serializeAs="String">
                <value>?billingName=Porta&amp;personalAccountId={C1399242-0492-4C5C-A7A2-FC33460122F5}</value>
            </setting>
        </Test.WebRequest.Properties.Settings>
    </userSettings>
</configuration>