<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true">

  <variable name="LogDir" value="E:\Projects\Tolik\ECMonitoring\Code\Final\ECMonitoring\ECMonitoring\Logs"/>

  <targets  async="true">
    <default-target-parameters xsi:type="File" keepFileOpen="false" layout="[#| ${date:format=yyyy-MM-dd HH-mm-ss.fff} | ${level:uppercase=true} | ${logger} | ${message} |#]" encoding="utf-8" maxArchiveFiles="200" archiveNumbering="Rolling" archiveAboveSize="20480000" concurrentWrites="true"/>
    <target name="default" xsi:type="File" fileName="${LogDir}\default.txt"/>
    <target name="ECMonitoring" xsi:type="File" fileName="${LogDir}\ECMonitoring.txt"/>
  </targets>

  <rules>
    <logger name="default" minlevel="Trace" writeTo="default" />
    <logger name="ECMonitoring" minlevel="Info" writeTo="ECMonitoring" />
  </rules>
</nlog>
