body {
    /*padding: 75px 0 0 0;*/
    padding: 0 0 0 0;
}

.position_static {
    position: static !important;
    padding: 0px 0 0 0 !important;
}

.heder_panel {
    background-color: #222222;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2, .h2 {
    margin-bottom: 5px;
}

.loggin_shift {
    padding: 150px 0 0 0;
    /*background-color: aqua;*/
}

.main_header {
    color: #9d9d9d;
    font-size: 44px;
    display: inline-block;
    font-weight: 800;
    padding: 3px 0 0 0;
}

/*.user_header {
    color: #9d9d9d;
    font-size: 21px;
    display: inline-block;
    float: right;
}*/

/*.user_header_pad {
    padding: 18px 0px 0 0;
}*/

/*.exit_header {
    padding: 18px 0 0 7px;
}*/

/*.exit_header:hover {
    color: white;
}*/

#nav_login {
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
}

#nav_login p {
    /*font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: rgb(255,255,255);*/
    font-size: 28px;
    color: #9d9d9d;
}

/*#nav_login span.user_login {
    text-transform: uppercase;
}*/

#nav_login span.user_logout {
    font-size: 21px;
}

span.user_logout a {
    /*color: #fff;*/
    color: #9d9d9d;
}

span.user_logout a:link {
    /*text-decoration: none*/
}

span.user_logout a:visited {
    text-decoration: none
}

span.user_logout a:active {
    text-decoration: none
}

span.user_logout a:hover {
    /*text-decoration: underline;
    color: red;*/
    color: #fff;
}

.end_point_main_container {
    background-color: lavender;
    /*border: 1px solid #000000;*/
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.04), 0 4px 10px 0 rgba(13,35,67,.25);
}

.services_mnu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
    /*position: fixed;*/
    /*height: 100%;*/
    /*overflow: auto;*/
}

li a {
    display: block;
    color: #222222;
    padding: 10px 0 10px 10px;
    text-decoration: none;
    background-color: #C8C8C8;
    border: 1px solid #000000;
    margin: 0 15px 7px 15px;
    font-size: 21px;
}

/*li a.active {
    background-color: #4CAF50;
    color: white;
}*/


    li a:hover {
        background-color: #FFF;
        /*color: white;*/
        text-decoration: none;
    }


/*li a:hover:not(a:active) {
    background-color: #FFF;
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

li a:active {
    background-color: #222;
    color: #FFF;
    text-decoration: none;
}

    

    /*li a:focus {
        background-color: #222;
        color: #FFF;
        text-decoration: none;
    }*/

