body {
    /*padding: 75px 0 0 0;*/
    padding: 0 0 0 0;
    background-color: #FCFCFF;
}

.position_static {
    position: static !important;
    padding: 0px 0 0 0 !important;
}

.heder_panel {
    background-color: #222222;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2, .h2 {
    margin-bottom: 5px;
}

.loggin_shift {
    padding: 150px 0 0 0;
    /*background-color: aqua;*/
}

.main_header {
    color: #9d9d9d;
    font-size: 44px;
    display: inline-block;
    font-weight: 800;
    padding: 3px 0 0 0;
}

/*.user_header {
    color: #9d9d9d;
    font-size: 21px;
    display: inline-block;
    float: right;
}*/

/*.user_header_pad {
    padding: 18px 0px 0 0;
}*/

/*.exit_header {
    padding: 18px 0 0 7px;
}*/

/*.exit_header:hover {
    color: white;
}*/

#nav_login {
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
}

#nav_login p {
    /*font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: rgb(255,255,255);*/
    font-size: 28px;
    color: #9d9d9d;
}

/*#nav_login span.user_login {
    text-transform: uppercase;
}*/

#nav_login span.user_logout {
    font-size: 21px;
}

span.user_logout a {
    /*color: #fff;*/
    color: #9d9d9d;
}

span.user_logout a:link {
    /*text-decoration: none*/
}

span.user_logout a:visited {
    text-decoration: none
}

span.user_logout a:active {
    text-decoration: none
}

span.user_logout a:hover {
    /*text-decoration: underline;
    color: red;*/
    color: #fff;
}

.end_point_main_container {
    background-color: lavender;
    /*border: 1px solid #000000;*/
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.04), 0 4px 10px 0 rgba(13,35,67,.25);
}

.services_mnu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-color: #f1f1f1;*/
    /*position: fixed;*/
    /*height: 100%;*/
    /*overflow: auto;*/
}

li a {
    display: block;
    color: #222222;
    padding: 5px 0 3px 5px;
    text-decoration: none;
    /*background-color: #C8C8C8;*/
    background-color: #E6E6FA;
    border: 1px solid #000000;
    margin: 0 15px 6px 15px;
    /*font-size: 21px;*/
    font-size: 14px;
    font-family: "Microsoft Sans Serif" "Arial" "Helvetica Neue", "Verdana", "Tahoma", "Microsoft Sans Serif";
    font-weight: bold;
    border-radius: 4px;
}

li a:hover {
    background-color: #FFF;
    /*color: white;*/
    text-decoration: none;
}


/*li a:hover:not(a:active) {
    background-color: #FFF;
    /*color: white;*/
    /*text-decoration: none;*/
/*}*/

li a:active {
    background-color: #222;
    color: #FFF;
    text-decoration: none;
}

.left_bar_fixed {
    /*background-color: lavender;*/
    border: 0px solid #000000;
    width: 200px;
    position: fixed;
    padding: 75px 0 0 0;
    /*z-index: 0;*/
    height: 675px;
}

.left_bar {
    background-color: #F7F7FD; /*#F5F5FD;*/ /*#F8F8FD;*/
    border: 1px solid #E1E1F6;
    height: 100%;
    overflow-y: auto;
    padding-top: 15px;
    /*z-index: 500;*/
    border-radius: 8px;
}

.main_area {
    background-color: #F7F7FD; /*darksalmon;*/
    border: 1px solid #000000;
    margin: 75px 0 0 215px;
    min-height: 600px;
    padding: 10px 15px 15px 15px;
    min-width: 370px;
    border-radius: 8px;
}



