@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ErrorHandler</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@

@model System.Web.Mvc.HandleErrorInfo


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body style="padding: 75px 150px">
    <hgroup>
        <h2 style="color: darkred">При обработке запроса произошла ошибка:</h2>
        @*<h3>@Model.Exception.Message</h3>*@
        @*<h3>@ViewBag["ErrorMessage"]</h3>*@
    </hgroup>
</body>
</html>
