@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>General</title>
</head>
<body style="padding: 75px 150px">
    <hgroup>
        <h2 style="color: darkred">An error occurred while processing the request:</h2>
        <h3>@ViewBag.ErrorMessage</h3>
        <h3>@Model</h3>
</hgroup>
</body>
</html>
