<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <!--
        Раздел <authentication> включает конфигурацию 
        режима проверки подлинности системы безопасности, используемую 
        в ASP.NET, которая позволяет идентифицировать входящего пользователя. 
    -->
    <authentication mode="Windows"/>
    <!--
        Раздел <customErrors> включает конфигурацию, 
        отвечающую за действия, предпринимаемые при возникновении необрабатываемых ошибок 
        во время выполнения запроса. В частности, 
        он позволяет разработчикам настраивать HTML-страницы ошибок, 
        которые будут отображаться вместо трассировки стека ошибок.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      Раздел system.webServer требуется для запуска ASP.NET AJAX из Интернета
      служб IIS 7.0.  Этот раздел необязателен для предыдущей версии IIS.
  -->
  <system.webServer>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--<system.serviceModel>
    <services>
      <service name="HttpsWcfService.Service1" behaviorConfiguration="HttpsWcfService.Service1Behavior">
        -->
  <!-- Service Endpoints -->
  <!--
        <endpoint address="IService1" binding="webHttpBinding" contract="HttpsWcfService.IService1">
          -->
  <!-- 
              После развертывания необходимо удалить следующий идентификационный элемент или заменить его, чтобы отражать 
              идентификатор, под которым работает служба.  Если он был удален, WCF выведет соответствующий идентификатор 
              автоматически.
          -->
  <!--
          -->
  <!--<identity>
            <dns value="localhost"/>
          </identity>-->
  <!--
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" behaviorConfiguration="endpointBehaviors"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpsWcfService.Service1Behavior">
          -->
  <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующему параметру значение "false". -->
  <!--
          <serviceMetadata httpGetEnabled="true"/>
          -->
  <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true, чтобы избежать раскрытия сведений об исключении -->
  <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
          
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="endpointBehaviors">
          -->
  <!--https://stackoverflow.com/questions/9293721/addressfilter-mismatch-at-the-endpointdispatcher-the-msg-with-to-->
  <!--
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>-->
  
  <system.serviceModel>
   
    <services>
      <service name="HttpsWcfService.Service1">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="endpointBehaviors" name="IService1" contract="HttpsWcfService.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      
      
      </service>
    
    
    </services>
    
    
      
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehaviors">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
  
  </system.serviceModel>
  
</configuration>