<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IECMService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/ECMonitoring.Service.ECMService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IECMService"
                contract="ServiceReference.IECMService" name="BasicHttpBinding_IECMService" />
        </client>
    </system.serviceModel>
</configuration>