@model IList<ECMonitoring.Models.EndPointModel>

<div id="main_area" class="main_area">
    <div class="main_area_service_header">
        <span>
            @ViewData["ServiceName"]
        </span>
    </div>

    <hr class="main_area_service_header_splitter"/>

    <div class="row">
        @foreach (var endPoint in Model)
        {
            <div class="col-md-6">
                <div class="end_point_main_container">
                    <p style="margin-left: 15px;">@Html.Label(endPoint.Name)</p>

                    @foreach (var metric in endPoint.Metrics)
                    {
                        if (metric.MetricType == 0)
                        {
                            @Html.Partial("LANMetric", metric)
                        }
                        else
                        {
                            @Html.Partial("ResourceUsageMetric", metric)
                        }
                    }

                </div>
            </div>
        }
    </div>

</div>