
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FakeArrivalStop</title>
</head>
<body>
    <div>
        FakeArrivalStop
    </div>
</body>
</html>
